<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/showStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title></title>
  </head>
<% include ../partials/header.ejs%>
				<form action="/photos/<%=photo.user._id%>" method="GET">
					<button>back to their gallery</button>
				</form>
			</div>
		</nav>
	</div>
</div>
</div>




<div class="container">

	<div id="newestPhoto" class="leftcol">
		<img class="imgshow" src="/photos/serve/<%=photo.id%>">
	</div>


	<div id="critiques" class="rightcol">
		<!-- show critiques -->
		<div id="messagedisplay">

<!-- the code between this seperator is creating the bug in the page.      -->
			<div id="createMessagePanel">
				<div id="critiqueInput">
					<h3>edit your critique</h3>
					<form action="/messages/<%=critique._id%>?_method=PUT" method="POST">
						<input type="text" name="title" value="<%=critique.title%>">
						<input type="text" name="content" value="<%=critique.content%>">
						<input type="text" name="price" value="<%=critique.price%>">
						<input type="hidden" name="photoId" value="<%=photo.id%>">
						<button type="submit" id="submitCritique">submit</button>
					</form>
				</div>
		<form action="/messages/<%=critique.id%>?_method=DELETE" method="POST">
			<button type="submit">Delete</button>
		</form>

			</div>
		</div>
		<!-- create critiques -->
	</div>

<!-- the code between this seperator is creating the bug in the page.      -->



</div>


<% include ../partials/footer.ejs%>
