<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/indexStyle.css">
    <title></title>
  </head>
<% include ../partials/header.ejs%>


		<div id="doortoothergallery">
		<form action="/photos/<%=users._id%>" method="GET">
			other gallery
			<button type="submit">Roast</button>
			<select name="user">
				<% for (let i = 0; i < users.length; i++) {%>
						<option value="<%=users[i]._id%>"><%=users[i].username%></option>
				<%}%>
			</select>
		</form>
		</div>

<%if (username !== thisUser.username){%>
	<h1><%=thisUser.username%>'s Gallery</h1> <a href="/photos/<%=userId%>">back to your own gallery</a>
<%}else{%>
	<h1>Your Gallery</h1>
<%}%>


<div id="imageindexcontainer">

	<% photos.forEach((photo) => { %>
		<div class="imgdiv">
			<p class="imgtitle"><%=photo.title%></p>
			<p class='score'>this is the photo avg score, reformat later</p>
			<br/>
			<a href="/photos/photo/<%=photo.id%>"><img src="/photos/serve/<%=photo.id%>" class="thumbnail"></a>
			<form action="/photos/photo/<%=photo.id%>?_method=DELETE" method="POST">
				<button type="submit">Delete</button>
			</form>
		</div>
	<% }) %>

</div>


	<form action="/photos/new" method="GET">
		<button>upload a new photo</button>
	</form>

<% include ../partials/footer.ejs%>
