<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/showStyle.css">
    <title></title>
  </head>
			<% include ../partials/header.ejs%>
			<form action="/photos/<%=photo.user._id%>" method="GET">
				<button>back to gallery</button>
			</form>
      <%if (photo.user.username !== username){%>
      <form action="/photos/<%=userId%>">
      <button>Back to your own gallery</button>
      </form>
      <%}%>
			</div>
		</nav>
	</div>
</div>
</div>


	<div class="door">
		<div class="galleryDoor"></div>
		<div class="navigationDoor"></div>
	</div>


  <div class="container">

  	<div id="newestPhoto" class="leftcol">
  		<img class="imgshow" src="/photos/serve/<%=photo.id%>">
      <%if (photo.user.username === username){%>
    		<form action="/photos/photo/<%=photo.id%>?_method=DELETE" method="POST">
    			<button type="submit">Delete</button>
    		</form>
      <%}%>
  	</div>

  	<div class="rightcol">
    	<div id="messagedisplay">
        <h1 id="photoTitle"><%if(photo.title != '') {%>
          <%=photo.title%>
        <%} else {%>
          Untitled
        <%}%></h1>
        <div class="messageIndex">
          <%for (let i = 0; i < critiques.length; i++) {%>
               <div class="messageIndex">
                  <%if (username === critiques[i].username){%>
                    <div class="message" id="isUser">
                      <a href="/messages/<%=critiques[i]._id%>" >
                        <div class="username">
                          @<%=critiques[i].username%>
                        </div>
                        <div class="title">
                          <%=critiques[i].title.toUpperCase()%>
                        </div>
                        <div class="critique">
                          <%=critiques[i].content%>
                        </div>
                        <div class="price">
                          Valuation: $<%=critiques[i].price%>
                        </div>
                      </a>
                    </div>
                  <%}else{%>
                    <div class="message" id="isntUser">
                      <div class="username">
                        <% critiqueUser.forEach((user) => {%>
                         <%if (user.username === critiques[i].username){ %>
                            <a href="/photos/<%=user._id%>/newest">
                            @<%=critiques[i].username%>
                            </a>
                         <%} %>
                       <%}) %>
                      </div>
                      <div class="title">
                        <%=critiques[i].title%>
                      </div>
                      <div class="critique">
                        <%=critiques[i].content%>
                      </div>
                      <div class="price">
                        <%=critiques[i].price%>$
                      </div>
                    </div>
                  <%}%>

              </div>
          <%}%>
        </div>
        <div id="createMessagePanel">
          <%if(photo.user.username !== username){%>
              <div id="critiqueInput">
                <h3><a href="/messages/<%=photo._id%>/new">Add a critique</a></h3>
              </div>
          <%}%>
        </div>
      </div>
  	</div>
  </div>
</div>

<% include ../partials/footer.ejs%>
