<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/showStyle.css">
    <title></title>
  </head>
			<% include ../partials/header.ejs%>
			<form action="/photos/<%=photo.user._id%>" method="GET">
				<button>back to gallery</button>
			</form>
			</div>
		</nav>
	</div>
</div>


	<div class="door">
		<div class="galleryDoor"></div>
		<div class="navigationDoor"></div>
	</div>


  <div class="container">

  	<div id="newestPhoto" class="leftcol">
  		<img class="imgshow" src="/photos/serve/<%=photo.id%>">
      <%if (photo.user.username === username){%>
    		<form action="/photos/photo/<%=photo.id%>?_method=DELETE" method="POST">
    			<button type="submit">Delete</button>
    		</form>
      <%}%>
  	</div>

  	<div class="rightcol">
    	<div id="messagedisplay">
        <h1 id="photoTitle"><%=photo.title%></h1>
        <div class="messageIndex">
          <%for (let i = 0; i < critiques.length; i++) {%>
              <div class="message">
                  <!-- we also need to add edit and delete button to each message index -->
                  <%if (username === critiques[i].username){%>
                    <div class="messageIndex">
                    <a href="/messages/<%=critiques[i]._id%>">
                      <div class="username">YOUR CRITIQUE: </div>
                      <div class="title">TITLE: <%=critiques[i].title%></div>
                      <div class="critique">CONTENT: <%=critiques[i].content%></div>
                      <div class="price">PRICE: <%=critiques[i].price%>$</div>
                    </a>
                  </div>
                  <%}else{%>
                    <div class="username"><%=critiques[i].username.toUpperCase()%>'S CRITIQUE: "</div>
                    <div class="title">TITLE: <%=critiques[i].title%></div>
                    <div class="critique">CONTENT: <%=critiques[i].content%></div>
                    <div class="price">PRICE: <%=critiques[i].price%>$</div>
                  <%}%>

              </div>
          <%}%>
        </div>
        <div id="createMessagePanel">
          <%if(photo.user.username !== username){%>
              <div id="critiqueInput">
                <h3><a href="/messages/<%=photo._id%>/new">add a critique for this art</a></h3>
              </div>
          <%}%>
        </div>
      </div>
  	</div>
  </div>
</div>

<% include ../partials/footer.ejs%>
